
html,body{
    height: 100%;
}
.container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header{

    height: 5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 2% 0 2% ;
}
a{
    text-decoration: none;
    height: 5%;
    margin-top: 8%;

}
nav{
    width: 20%;
    justify-content: space-between;
}

main{
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mycard{
    margin-left: 4%;
    margin-bottom: 4%;
    list-style: none;
    text-overflow: ellipsis;
    width: 20%;
    text-align: center;
    cursor: pointer;
    border: 2px solid #412929;
    border-radius: 5px;
    height: 15%;
}


.delete-checkbox{
    margin-left: 7%;
    margin-top: 5%;
}
footer{
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer hr{
    width: 100%;
}

